
// $BGCOLOR_A: #ABC;
// $BGCOLOR_A: #c6d8d3;
// $BGCOLOR_A: #4c956c;
// $BGCOLOR_A: #2C6E49;
// $BGCOLOR_A: #6B9080;
// $BGCOLOR_A: #A4C3B2;
// $BGCOLOR_A: #748386;
// $BGCOLOR_A: #9DC7C8;
// $BGCOLOR_A: #124E78;

$BGCOLOR_A: #93A3B1;

$CONTENT_BGCOLOR: #F0F0F0;

$HEADER_OUTER_BORDER_COLOR: #888;
$HEADER_INNER_BORDER_COLOR: #BBB;

$TOOLBAR_BG_COLOR: #EEE;


